//Extends
%divFooter {
    margin: 1rem 0rem;
    width: 100%;
    text-align: center;
    border-bottom: solid #ffff 1px;
}

%inputFooter {
    background-color: $gris;
    color: $blanco;
    font-family: 'Poppins', sans-serif;
}

//Extends Seccion Inicio
%h4Inicio {
    text-align: center;
    background-color: $verde-claro;
    padding: 1rem 0;
    color: $blanco;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 1rem 0.2rem 0.1rem 0.2rem;
    width: 90vw;
    transition: 2s;
}

%h3Inicio {
    text-align: center;
    margin: 0.1rem 0.1rem;
    padding: 0.1rem;
    word-spacing: 0.4rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $verde-oscuro;
    width: 90vw;
    transition: 2s;
}

%pInicio {
    text-align: center;
    margin: 0.5rem 0.4rem;
    padding: 0.2rem;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    width: 90vw;
    transition: 2s;
}

//Extends Contacto
%inputContacto {
    width: 75%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: $verde-oscuro;
    border: none;
    border-bottom: solid 1px $gris;
    color: $blanco;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}