//MIXINS
@mixin titulos3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $blanco;
}

@mixin footerDesktop ($padding, $margin) {
    padding: $padding;
    margin: $margin;
    border-bottom: none;
    text-align: left;
}