//DESTINOS
.grilla3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "contenido3"
        "footer";
    width: 100%;
    height: 100vh;

    .header {
        grid-area: header;
    }

    .contenido3 {
        grid-area: contenido3;
        width: 99vw;
        margin-top: 2rem;
    }

    .footer {
        grid-area: footer;
        margin-top: 20vh;
    }
}

//Main
.grilla3 {
    main {
        section {
            div {
                text-align: center;
                word-spacing: 0.5rem;
                margin-top: 1rem;
                font-size: 1.5rem;
                color: $azul-oscuro;
            }

            .destinos {
                div {
                    display: flex;
                    flex-direction: column;

                    div {

                        h3 {
                            text-align: center;
                            margin-bottom: 1rem;
                            font-size: 1.6rem;
                            color: $azul-oscuro;
                        }

                        p {
                            margin: 0;
                            text-align: center;
                            font-size: 0.8rem;
                            word-spacing: 0.4rem;
                            line-height: 1.3rem;
                        }
                    }

                    img {
                        width: 300px;
                        height: 200px;
                        margin: 3rem auto;
                    }
                }

                .experiencia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {

                        h4 {
                            text-align: center;
                            font-size: 1.6rem;
                            font-style: italic;
                            margin: 1rem;
                        }

                        p {
                            text-align: center;
                            font-size: 0.8rem;
                            word-spacing: 0.4rem;
                            line-height: 1.3rem;
                        }
                    }

                    img {
                        width: 280px;
                        height: 230px;
                        margin: 2rem;
                    }
                }
            }
        }
    }
}

//Aqui van las Medias Queries
//Medias Tablet 
@media (min-width: 768px) {
    .grilla3 {
        main {
            section {
                .destinos {
                    div {
                        div {
                            margin: 1rem 2rem;
                        }

                        img {
                            width: 600px;
                            height: 330px;
                        }
                    }

                    .experiencia {
                        div {
                            margin: 1rem 2rem;
                        }

                        img {
                            width: 400px;
                            height: 310px;
                        }
                    }
                }
            }
        }
    }
}

//Media Desktop
@media (min-width: 1440px) {
    .grilla3 {
        main {
            section {
                div {
                    @include titulos3 ();
                }

                .destinos {
                    div {
                        div {
                            h3 {
                                @include titulos3 ();
                            }

                            p {
                                text-align: center;
                                font-size: 1.2rem;
                                word-spacing: 0.2rem;
                                line-height: 2rem;
                            }
                        }

                        img {
                            width: 950px;
                            height: 520px;
                        }
                    }

                    .experiencia {
                        div {
                            h4 {
                                text-align: center;
                                font-size: 2rem;
                                font-style: italic;
                                margin: 1rem 1rem 2rem 1rem;
                            }

                            p {
                                text-align: center;
                                font-size: 1.2rem;
                                word-spacing: 0.2rem;
                                line-height: 2rem;
                                margin: 1rem;
                            }
                        }

                        img {
                            width: 530px;
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
}