//DESTINOS
//Aplicando grid
.grilla3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "contenido3"
        "footer";
    width: 100%;
    height: 100vh;
}

.header {
    grid-area: header;
}

.contenido3 {
    grid-area: contenido3;
    width: 99vw;
    margin-top: 2rem;
}

.footer {
    grid-area: footer;
}

//Main
.grilla3 {
    main {
        section {
            div {
                h1 {
                    color: $blanco;
                    background-color: $verde-claro;
                    border-bottom: solid 1rem $verde-oscuro;
                    text-align: center;
                    padding: 2rem 0;
                }
            }

            .destinos {
                margin-top: 3rem;

                div {
                    display: flex;
                    flex-direction: column;

                    div {
                        text-align: center;
                        word-spacing: 0.5rem;
                        margin-top: 1rem;
                        font-size: 1.5rem;

                        h3 {
                            text-align: center;
                            margin-bottom: 1rem;
                            font-size: 1.6rem;
                            background-color: $verde-oscuro;
                            color: $blanco;
                            font-weight: 600;
                            padding: 0.5rem 0;
                            border-left: solid 0.5rem $verde-claro;
                            border-right: solid 0.5rem $verde-claro;
                        }

                        p {
                            margin: 0;
                            text-align: center;
                            font-size: 0.8rem;
                            word-spacing: 0.4rem;
                            line-height: 1.7rem;
                        }
                    }

                    img {
                        width: 300px;
                        height: 200px;
                        margin: 3rem auto;
                    }
                }

                .experiencia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {

                        h4 {
                            text-align: center;
                            font-size: 1.6rem;
                            font-style: italic;
                            margin: 1rem;
                            background-color: $verde-oscuro;
                            color: $blanco;
                            border-left: solid 0.5rem $verde-claro;
                        }

                        p {
                            text-align: center;
                            font-size: 0.8rem;
                            word-spacing: 0.4rem;
                            line-height: 1.7rem;
                        }
                    }

                    img {
                        width: 280px;
                        height: 230px;
                        margin: 2rem;
                    }
                }
            }
        }
    }
}

//Aqui van las Medias Queries
//Medias Tablet 
@media (min-width: 768px) and (max-width: 1024px) {
    .grilla3 {
        main {
            section {
                .destinos {
                    div {
                        div {
                            margin: 1rem 2rem;
                        }

                        img {
                            width: 600px;
                            height: 330px;
                        }
                    }

                    .experiencia {
                        div {
                            margin: 1rem 2rem;
                        }

                        img {
                            width: 400px;
                            height: 310px;
                        }
                    }
                }
            }
        }
    }
}

//Media Desktop
@media (min-width: 1025px) and (max-width: 2560px) {
    .grilla3 {
        main {
            section {
                div {
                    h1 {
                        background-color: $verde-claro;
                        font-weight: 600;
                        padding: 2rem 0;
                    }
                }

                .destinos {
                    div {
                        .third__text {
                            display: flex;
                            flex-direction: column;

                            h3 {
                                @include titulos3 ();
                            }

                            p {
                                text-align: center;
                                font-size: 1.2rem;
                                word-spacing: 0.2rem;
                                line-height: 2.3rem;
                                padding: 1rem 10rem;
                            }
                        }

                        img {
                            width: 950px;
                            height: 520px;
                            border-radius: 1.5rem;
                            box-shadow: 8px 11px 5px -4px rgba(134, 134, 140, 0.49);
                            -webkit-box-shadow: 8px 11px 5px -4px rgba(134, 134, 140, 0.49);
                            -moz-box-shadow: 8px 11px 5px -4px rgba(134, 134, 140, 0.49);
                            transition: 2s;
                        }
                    }

                    .experiencia {
                        display: flex;
                        flex-direction: row;

                        div {
                            display: flex;
                            flex-direction: column;

                            h4 {
                                text-align: center;
                                font-size: 2rem;
                                font-style: italic;
                                margin: 1rem 1rem 2rem 1rem;
                            }

                            p {
                                text-align: center;
                                font-size: 1rem;
                                word-spacing: 0.2rem;
                                line-height: 2rem;
                                margin: 1.5rem;
                                width: 50vw;
                            }
                        }

                        img {
                            width: 530px;
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
}