//PAQUETES
//Aplicando grid
.grilla5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "contenido5"
        "footer";
    width: 100%;
    height: 100vh;
}

.header {
    grid-area: header;
    width: 100%;
}

.contenido5 {
    grid-area: contenido5;
}

.footer {
    grid-area: footer;
}

//Main
.grilla5 {
    main {
        section {
            h1 {
                width: 100%;
                margin: 2rem 0;
                color: $blanco;
                background-color: $verde-claro;
                border-bottom: solid 1rem $verde-oscuro;
                padding: 2rem 0;
                font-weight: 600;
                text-align: center;
            }

            .paquetes {
                .g-4 {
                    margin: 0.2rem;

                    div {
                        padding: 0;

                        div {
                            .card-img-top {
                                height: 300px;
                            }

                            div {
                                h5 {
                                    background-color: $verde-oscuro;
                                    color: $blanco;
                                    padding: 0.5rem 0;
                                }

                                .subtitulo__paquetes {
                                    color: $gris;
                                    font-weight: 600;
                                }

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    a {
                                        button {
                                            background-color: $verde-claro;
                                            border: none;
                                            border-radius: 0.2rem;
                                            padding: 0.5rem 1rem;
                                            color: $blanco;
                                            margin: 1rem;

                                            &:hover {
                                                background-color: $verde-oscuro;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .incluye {
                margin-top: 8rem;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2rem 0.2rem;

                    div {
                        img {
                            width: 200px;
                            border-radius: 20rem;
                        }

                        div {
                            text-align: center;

                            h3 {
                                color: $gris;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Aqui van las medias Queries
//Medias Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .grilla5 {
        main {
            section {
                h1 {
                    width: 99vw;
                    font-size: 3rem;
                }

                .paquetes {
                    .g-4 {
                        div {
                            .card {
                                margin: 0 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Medias Desktop
@media (min-width: 1025px) and (max-width: 2560px) {
    .grilla5 {
        main {
            section {
                h1 {
                    color: $blanco;
                    background-color: $verde-claro;
                    width: 100vw;
                    padding: 2rem 0;
                }

                .paquetes {
                    margin: 0;

                    .g-4 {
                        margin: 0;

                        .col {
                            margin: 0;
                            padding: 0;

                            .card {
                                margin: 4rem 0.5rem;
                            }
                        }
                    }
                }

                .incluye {
                    margin-top: 14rem;

                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;

                        div {
                            display: flex;
                            flex-direction: column;

                            div {
                                h3 {
                                    &:hover {
                                        color: $verde-oscuro;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}