//QUIENES SOMOS
.grilla2 {
    main {
        section {
            div {
                display: flex;
                flex-direction: column;
                margin: 1rem 0.1rem;
                width: 99vw;

                div {
                    flex-direction: column;
                    margin: 0.2rem;

                    h1 {
                        text-align: center;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        text-align: center;
                        word-spacing: 0.2rem;
                        font-size: 0.8rem;
                        padding: 1rem 2rem;
                    }
                }

                img {
                    width: 300px;
                    height: 415px;
                    margin: 3rem 3rem;
                }
            }
        }
    }
}

//Aqui van las Medias Queries
//Media Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .grilla2 {
        main {
            section {
                div {
                    margin: 1.5rem 0.1rem;

                    div {
                        margin: 0.2rem 0rem;

                        p {
                            width: 80vw;
                            margin: 0rem auto;
                            line-height: 2rem;
                        }
                    }

                    img {
                        width: 500px;
                        height: 470px;
                        margin: 3rem 8.8rem;
                    }
                }
            }
        }
    }
}

//Media Desktop
@media (min-width: 1025px) and (max-width: 1900px) {
    .grilla2 {
        main {
            section {
                div {
                    display: flex;
                    flex-direction: row;
                    margin-top: 4rem;
                    align-items: center;

                    div {
                        flex-direction: column;
                        margin-left: 2rem;
                        line-height: 2rem;

                        h1 {
                            text-align: center;
                            margin-bottom: 2rem;
                        }

                        p {
                            text-align: justify;
                            word-spacing: 0.5rem;
                            margin: 1rem 2rem;
                            width: 40vw;
                        }
                    }

                    img {
                        width: 700px;
                        margin-top: 3rem;
                        margin-left: 2.5rem;
                        margin-right: 4rem;
                    }
                }
            }
        }
    }
}