//Footer
.footer {
    display: flex;
    flex-direction: column;
    background-color: $gris;
    margin-top: 10rem;
    width: 100vw;
    padding: 1rem 0rem 2rem 0rem;

    div {
        @extend %divFooter;

        h3 {
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $blanco;
            font-size: 1.3rem;
            font-family: serif;

            &:hover {
                color: $verde-claro;
            }
        }

        ul {
            list-style: none;
            color: $blanco;
            margin-right: 2rem;
            padding-top: 0.5rem;
            display: none;

            li {
                padding-bottom: 1rem;
            }
        }

        p {
            color: $blanco;
            margin-top: 1rem;
            display: none;
        }

        &:hover ul {
            display: block;
        }

        &:hover p {
            display: block;
        }
    }

    .contenedor__footer--active {
        @extend %divFooter;

        form {
            display: none;

            .input__suscrib {
                @extend %inputFooter;
                margin: 0.5rem 0rem 0.5rem 3rem;
                width: 50%;
                border: none;
                border-bottom: solid 1.5px $verde-oscuro;
                outline: none;

                ::placeholder {
                    color: $blanco;
                }
            }

            .input__enviar {
                @extend %inputFooter;
                border-radius: 0.3rem;
                font-weight: 200;
                margin: 1rem;
                border: $verde-oscuro 2px;
                width: 5rem;
                height: 2rem;

                &:hover {
                    background-color: $verde-claro;
                }
            }
        }

        .fab {
            color: $blanco;
            font-size: 1.5rem;
            margin: 0.5rem;
            display: none;
        }

        &:hover form {
            display: block;
        }
    }
}

//Aqui van las Medias Queries
//Media Tablet
@media (min-width: 768px) and (mas-width: 1024px) {
    .footer {
        width: 100%;
    }
}

//Media Desktop
@media (min-width: 1025px) and (max-width: 2560px) {
    .footer {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;

        div {
            @include footerDesktop (0.5rem 0, 2rem);

            h3 {
                width: 60%;
                font-weight: 600;
                margin: 0.5rem;
                color: $verde-claro;

                &:hover {
                    color: $verde-oscuro;
                }
            }

            ul {
                margin: 0.5rem;
                padding-top: 0.5rem;
                padding-left: 0;
                display: block;

                li {
                    padding-bottom: 1rem;
                }
            }

            p {
                margin-top: 1rem;
                margin-left: 0.5rem;
                display: block;
            }
        }

        .contenedor__footer--active {
            @include footerDesktop (0.5rem 4rem 0.5rem 2rem, 2rem 1rem 2rem 2rem);

            form {
                display: flex;

                .input__suscrib {
                    margin: 0.5rem;
                    width: 11vw;
                }

                .input__enviar {
                    background-color: $verde-claro;

                    &:hover {
                        background-color: $verde-oscuro;
                    }
                }
            }

            .fab {
                font-size: 2rem;
            }
        }
    }
}