//HEADER
.header {
    background-color: $gris;
    width: 100vw;

    nav {
        padding: 0;

        div {
            padding: 0;

            a {
                .logo {
                    width: 80px;
                    height: 45px;
                    margin: 1rem;
                    border-radius: 500px;
                }
            }

            .navbar-toggler {
                border: solid $blanco;
                margin-right: 0.5rem;
            }

            div {
                ul {
                    padding-left: 1rem;

                    li {
                        margin: 0.5rem 0;

                        a {
                            list-style: none;
                            text-decoration: none;
                            color: $blanco;

                            &:hover {
                                color: $verde-claro;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Aqui van las Medias Queries
//Media Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 0;
        width: 100%;

        nav {
            div {
                a {
                    padding: 0;

                    .logo {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }
}

//Media Desktop
@media (min-width: 1025px) and (max-width: 2560px) {
    .header {
        width: 100%;

        nav {
            div {
                a {
                    .logo {
                        width: 160px;
                        height: 115px;
                        margin-left: 1rem;
                    }
                }
            }

            ul {
                margin: 1rem auto;

                .nav-item {
                    margin: 0.5rem 0.8rem;

                    a {
                        font-size: 1.5rem;
                        margin: 2rem 1rem;

                        &:hover {
                            color: $blanco;
                        }
                    }

                    &:hover {
                        background-color: $verde-claro;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}