//HEADER
.header {
    background-color: $turquesa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;

    a {
        display: flex;
        justify-content: center;

        .logo {
            width: 80px;
            height: 45px;
            margin: 0.5rem 2.5rem;
            border-radius: 500px;
        }
    }

    nav {
        width: 100vw;
        padding: 0;

        .nav__links {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            li {
                display: inline-block;
                position: relative;
                margin: 0.2rem;
                font-size: 0.8rem;
                font-weight: 300;
                padding: 0.1rem;

                a {
                    color: $blanco;
                    text-decoration: none;
                    list-style: none;
                }

                ul {
                    position: absolute;
                    display: none;

                    li {
                        display: block;
                    }
                }

                &:hover ul {
                    display: block;
                    background-color: $turquesa;
                    border: solid;
                }
            }
        }
    }
}

//Aqui van las Medias Queries
//Media Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 0;
        width: 100vw;

        div {
            width: 100vw;

            a {
                padding: 0;
            }
        }
    }
}

//Media Desktop
@media (min-width: 1025px) and (max-width: 1900px) {
    .header {
        div {
            a {
                .logo {
                    width: 180px;
                    height: 85px;
                }
            }

            nav {
                ul {
                    li {
                        a {
                            font-size: 1.2rem;
                            margin: 2rem 1rem;
                        }
                        &:hover{
                            background-color: $azul;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}